@font-face {
font-family: 'TT Lakes Regular';
src: url('TTLakes-Regular.eot');
src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
url('/fonts/TTLakes-Regular.woff') format('woff'),
url('TTLakes-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'TT Lakes Medium';
src: url('TTLakes-Medium.eot');
src: url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
url('/fonts/TTLakes-Medium.woff') format('woff'),
url('TTLakes-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'TT Lakes Bold';
src: url('TTLakes-Bold.eot');
src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
url('/fonts/TTLakes-Bold.woff') format('woff'),
url('TTLakes-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
  font-family: 'TT Lakes Regular', "Arial", sans-serif;
  color: #1B1C21;
  background-color: #F8F8F8;
}
.popup-section {
  opacity: 1;
}
.header__inner {
  padding: 19px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  background-color: white;
}
.menu-group--left {
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
}
.menu-group--right {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.tel, .message, .account, .divider-middle, .items-large, .description__photo--large, .description__text--large, .tools--large, .search--large, #testimonials, .p__large {
  display: none;
}
.read-more {
  background-image: url('../img/expand.svg');
  color: #1B1C21;
  text-decoration: none;
  background-position: 6% 50% ;
  background-size: 20px 20px;
  padding-left: 44px;
  background-repeat: no-repeat;
}
@media (min-width: 340px) {
  .service__description .description__text p {
   width: 90%;
   margin: 0 auto;
  }
  .description__photo--container {
    display: flex;
    justify-content: center;
  }
  .description__photo--container img {
    width: 80%;
  }
  .description__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 160px;
}
.read-more {
  padding-left: 65px;
}
}
@media (min-width: 784px) {
  .header__inner {
  padding: 19px 24px;
  min-width: 768px;
}
.menu-group--left {
  display: flex;
  justify-content: space-around;
  width: 28%;
  align-items: center;
}
.menu-group--right {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.tel, .message, .account {
  display: block;
}
.tel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon__tel {
  position: absolute;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon__message {
  position: absolute;
}
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon__account {
  position: absolute;
}
.divider-middle{
  display: block;
}
.menu-link, .divider-middle, .logo {
  justify-content: flex-start;
}
.service {
  padding: 25px 40px 40px 24px;
}
.service__menu {
  margin-left: -16px;
}
.service__description {
  display: flex;
  justify-content: space-between;
}
.service__description .description__text p {
  padding: 0;
  min-width: 312px;
}
.p__large {
  display: block;
}
.description__photo {
  border-radius: 5px;
  min-width: 360px;
  height: 208px;
}
}
@media (min-width: 1120px) {
.menu-group--right {
  display: none;
}
.items-large {
  display: flex;
  padding-right: 32px;
  justify-content: space-between;
  width: 38%;
  transform: translateY(-90px);
}
.item-large {
  min-width: 185px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tools--large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icon__tools--large {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
}
.search--large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.icon__search--large {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
}
.service {
  padding: 0px 37px 40px 37px;
}
.service__menu {
  margin-left: -16px;
}
#testimonials {
  display: block;
}
.description__photo {
  display: none;
}
.description__photo--large {
  display: block;
}
.service__description .description__text p {
  min-width: 490px;
}
.description__text--large {
  display: inline;
}
.service__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service__head a {
  color: #1B1C21;
  text-decoration: none;
  font-family: 'TT Lakes Medium';
}
.read-more {
  padding-left: 74px;
}
}

.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon__menu {
position: absolute;
}
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon__tools {
  position: absolute;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon__search {
  position: absolute;
}
.divider {
  align-items: center;
}
.main {
  padding-top: 24px;
  padding-bottom: 35px;
}
.main h1 {
  font-family: 'TT Lakes Bold';
  margin: 0;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
}
.main h1::before {
  content: '';
  display: inline-block;
  background-color: #41F6D7;
  width: 5px;
  height: 40px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  margin-right: 20px;
  margin-bottom: -10px;
}
.service__menu {
  display: flex;
  padding-left: 16px;
  overflow-x: auto;
}
.service__item {
  list-style-type: none;
  border-radius: 5px;
  padding: 8px 12px;
  width: 246px;
  white-space: nowrap;
  text-align: center;
}
.service__menu .active {
  border: 3px solid #B8FFEC;
  background-color: #fff;
}
.service__menu a,
#testimonials {
  text-decoration: none;
  color: #7E7E82;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
}
#testimonials {
  padding: 10px 40px;
}
.service p {
  padding: 0 14px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 0;
}
.description__photo {
  margin-top: 10px;
}

.popup {
  width: 320px;
  background-color: #fff;
  box-shadow: 16px 0 52px 0px #0E185040;
  height: 100%;
  overflow: auto;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
.popup header {
  padding: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup a {
  text-decoration: none;
  color: #1B1C21;
  font-family: 'TT Lakes Medium';
}
.popup a:hover {
  color: #95E3D6;
  transition: all 0.2s ease;
}
.btn {
  border: none;
  background-color: #FF3E79;
  border-radius: 20px;
  width: 40px;
  height: 40px;  
  cursor: pointer;
}
.btn:hover {
  background-color: #FF8CAF;
  transition: all 0.2s ease;
}
.menu-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 57%;
}
.popup nav {
  padding-left: 24px;
  margin-bottom: 268px;
}
.popup .main {
  background-color: #fff;
}
.popup .main h1 {
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  color: #7E7E82;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.popup .main h1::before {
  content: '';
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  margin-right: 24px;
  border-radius: 0 5px 5px 0;
  display: inline-block;
}
.popup .service__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: contents;
}
.popup .service__menu li {
  margin-top: 32px;
  line-height: 24px; 
}
.popup footer {
  padding: 24px 32px;
}
.popup .footer__menu button {
  margin-right: 16px;
}
.footer__hero {
  min-height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__tel {
  font-size: 24px;
  line-height: 32px;
  font-family: 'TT Lakes Bold';
}
.lang {
  margin-top: 40px;
}
.lang a:first-child {
  color: #7E7E82;
}
.lang a {
  margin-right: 7px;
}